#################
## Eclipse
#################

*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.settings
.classpath
.project
.classpath
.settings
.project
.apt_generated/**/*
.idea
CteMail.iml
target/**/*

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## SVN
############
.svn/

############
## Java ##
############
*.ear
*.log
*.class
logctemail/
build/
*.html
*.swf
*.bmp

/target/
